/* farger som har funket ok:
    background-color: #00735c;
    color: #dfffd1;
*/
body { /* body på index har inline css med bakgrunnsfarge svart */
    background-color: #00735c;
    color: #ffffe6;
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, sans-serif;
    font-size: 14pt;
    margin-left: 12pt;
    margin-top: 0%;
}

#ramma { /* det er angitt som navn for iframen i index og undersidene har det som target */
    background-color: antiquewhite;
    margin:0px;
    padding-left: 0px;
    padding-top: 0px;
    overflow:visible; 
}

#bildetekst {
    width: 60%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-left: 10px;
    text-shadow: 3px 3px 6px #000000;

}

div.fixed {  /* brukes med taggen: div class="fixed" */
    position: fixed;
    top: 0pt;
    left: 1pt;
    width: 60%;
    border: 3px solid #73AD21;
  }

.uthevetSkrift {
    font-size: 20pt;
    margin-bottom: 0%;
}

h3 {
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, sans-serif;
    margin-bottom: 0%;
}

h2 {
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, sans-serif;
    
}

h1 {
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, sans-serif;
    /*font-weight: lighter;*/
}

#linker {
    max-width: 700px;
}

#nynorsk {
    display: none;
}
#dialekt {
    display: none;
}
#bandnavn {
    display: none;
}

#brodtekst {
    max-width: 600px;
    text-shadow: gold 0 0 5px;  
}

#meny {
    background-color: black;
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, sans-serif;
    padding-bottom: 0px;
    word-spacing: 0.5rem; /* em rem er sikkert samme som em - relativ til fontstørrelse */
}


#bgbilde {
    background-image: linear-gradient(rgba(107, 251, 4, 0.5), rgba(177, 245, 6, 0.5)), url("../img/futuristiskSteamPunkByStreetview.jfif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 0%;
}

/* film er for youtube i skjerm i iframe, den fungerer også til trinket for python prog. som også har iframe når de emeddes */
#film {
    width: 90%;
    height: 27em; /* em er "In CSS (Cascading Style Sheets), em is a unit of measurement which indicates size relative to the size of the font. 1em means "equal to the current font size" Blackbaud.com */
    border: 4px solid rgb(234, 207, 0); /*rgb(215, 255, 225)*/
  }


/* lister er greit å bruke i stedet for bare br og ul uten noen class lager hul sirkel, mens circle lager fylt sirkel */
.ulsquare { /* styling av lister og tegn foran hvert li element */
    list-style-type:square;
    margin-bottom: 10px;
    margin-top: 2px;
    padding-bottom: 10px;
    padding-right: 20px;
}
.ulnone { /* denne deler inn teksten i linjer etter li, men uten markør foran */
    list-style-type:none;
}

.bilde {
    width: 60%;
    height: auto;

}

a {
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, sans-serif;
    color: #ffffe6;
    font-size: 14pt;
}
a:hover {
    color: rgb(34, 255, 0);
    text-decoration: double;
  }



.button1 {
    background-image:url(buttext.png);
    border: 1px solid dimgray;
    border-radius: 3px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;}

.button1:hover {
    background-image:url(butthov.png);
    border: 2px solid #3dcdf0;
    border: 1px solid #3c7fb1;
    border-radius: 3px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;}

.button1:active {
    background-image:url(buttact.png);
    border: 2px solid #3dcdf0;
    border: 1px solid #3c7fb1;
    border-radius: 3px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;}


