
/* farger som har funket ok:
    background-color: #00735c;
    color: #dfffd1;
*/
body {
    background-color: #00735c;
    color: #ffffe6;
    font-family: "Roboto";
    font-size: 12pt;

}
h1 {
    font-family: fantasy, Geneva, Tahoma, sans-serif, comic sans MS;
    /*font-weight: lighter;*/
    font-style: normal;
    font-weight: 100;
}
#meny {
    background-color: black;
    font-family: fantasy;
}
a {
    color: #ffffe6;
    font-size: 14pt;
}
a:hover {
    color: rgb(34, 255, 0);
    text-decoration: double;
  }

.button1 {
    background-image:url(buttext.png);
    border: 1px solid dimgray;
    border-radius: 3px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;}

.button1:hover {
    background-image:url(butthov.png);
    border: 2px solid #3dcdf0;
    border: 1px solid #3c7fb1;
    border-radius: 3px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;}

.button1:active {
    background-image:url(buttact.png);
    border: 2px solid #3dcdf0;
    border: 1px solid #3c7fb1;
    border-radius: 3px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;}