
/* farger som har funket ok:
    background-color: #00735c;
    color: #dfffd1;
*/
body { /* body på index har inline css med bakgrunnsfarge svart */
    background-color: #00735c;
    color: #ffffe6;
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, sans-serif;
    font-size: 14pt;
}

#ramma { /*ubrukt id */
    background-color: antiquewhite;
    margin:0px;
    padding:3px;
    overflow:visible;
}

#bildetekst {
    width: 60%;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    text-shadow: gold 0 0 10px;  
}

h3 {
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, sans-serif;
}

h2 {
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, sans-serif;
}

h1 {
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, sans-serif;
    /*font-weight: lighter;*/
}

#linker {
    max-width: 700px;
}

#brodtekst {
    max-width: 700px;
    text-shadow: gold 0 0 5px;  
}

#meny {
    background-color: black;
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, sans-serif;
    padding-bottom: 0px;
}


#bgbilde {
    background-image: url("bilder/robotFifties.jpg");
    background-repeat: no-repeat;
}



/* lister er greit å bruke i stedet for bare br og ul uten noen class lager hul sirkel, mens circle lager fylt sirkel */
.ulsquare { /* styling av lister og tegn foran hvert li element */
    list-style-type:square;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}
.ulnone { /* denne deler inn teksten i linjer etter li, men uten markør foran */
    list-style-type:none;
}



a {
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, sans-serif;
    color: #ffffe6;
    font-size: 14pt;
}
a:hover {
    color: rgb(34, 255, 0);
    text-decoration: double;
  }



.button1 {
    background-image:url(buttext.png);
    border: 1px solid dimgray;
    border-radius: 3px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;}

.button1:hover {
    background-image:url(butthov.png);
    border: 2px solid #3dcdf0;
    border: 1px solid #3c7fb1;
    border-radius: 3px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;}

.button1:active {
    background-image:url(buttact.png);
    border: 2px solid #3dcdf0;
    border: 1px solid #3c7fb1;
    border-radius: 3px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;}